ROOT_USER=svendcs
POSTGRES_ROOT_PASSWORD=epassword
POSTGRES_DRONE_PASSWORD=password
POSTGRES_NEXTCLOUD_PASSWORD=password
NEXTCLOUD_PASSWORD=password
DRONE_GITHUB_CLIENT_ID=id
DRONE_GITHUB_CLIENT_SECRET=secret
DRONE_DATABASE_SECRET=secret
DRONE_RPC_SECRET=secret

